*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#f4f9ff;
color:#1a1a1a;
}

header{
background:#0b1f3a;
padding:20px;
position:sticky;
top:0;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

nav h2{
color:white;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(135deg,#0b1f3a,#1e88e5);
color:white;
}

.hero h1{
font-size:4rem;
}

.hero p{
margin-top:20px;
font-size:1.2rem;
}

section{
padding:80px 10%;
}

h2{
margin-bottom:40px;
color:#0b1f3a;
}

.cards{
display:flex;
gap:30px;
flex-wrap:wrap;
}

.card{
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,.1);
flex:1;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.team-grid{
display:flex;
gap:40px;
flex-wrap:wrap;
}

.member{
background:white;
padding:20px;
border-radius:20px;
text-align:center;
box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.member img{
width:220px;
height:220px;
object-fit:cover;
border-radius:50%;
}

.group-photo{
width:100%;
border-radius:20px;
}

footer{
background:#0b1f3a;
color:white;
padding:30px;
text-align:center;
}
